[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DSSAT"]
	path = DSSAT
	url = https://github.com/palderman/dssat
[submodule "mesonet"]
	path = mesonet
	url = https://github.com/palderman/mesonet
